@define-color background #141318;
@define-color foreground #e5e1e9;
@define-color primary #c8bfff;
@define-color on_primary #30285f;
@define-color surface_container #201f25;
@define-color on_surface #e5e1e9;
@define-color outline #928f99;
@define-color error #ffb4ab;
@define-color on_error #690005;