@define-color background #141318;
@define-color foreground #e6e1e9;
@define-color primary #cdbdff;
@define-color on_primary #34275e;
@define-color surface_container #201f24;
@define-color on_surface #e6e1e9;
@define-color outline #938f99;
@define-color error #ffb4ab;
@define-color on_error #690005;
