* {
    primary: #c8bfff;
    on-primary: #30285f;
    primary-fixed: #e5deff;
    secondary-container: #474459;
    on-primary-fixed: #1b1249;
    on-surface: #e5e1e9;
    on-secondary: #312e41;
    error: #ffb4ab;
}
