* {
    /* 70% de transparencia (B3) */
    main-bg: #1f1048b3;
    
    /* 40% de transparencia (66) */
    main-fg: #34275e66;

    primary: #cdbdff;
    on-primary: #34275e;
    secondary-container: #494458;
    on-surface: #e6e1e9;
    on-secondary: #322e41;
    
    /* Variables necesarias para tu config.rasi */
    on-primary-fixed: #1f1048cc;
    primary-fixed: #e8deff;
    error: #ffb4ab;
}
