@define-color background #141318;
@define-color foreground #e6e1e9;
@define-color noti-bg #201f24;
@define-color noti-fg #e6e1e9;
@define-color noti-border #cdbdff;
@define-color blue #cdbdff;
@define-color red #ffb4ab;
