@define-color accent_color #cdbdff;
@define-color accent_bg_color #cdbdff;
@define-color window_bg_color #141318;
@define-color window_fg_color #e6e1e9;
@define-color view_bg_color #201f24;
@define-color view_fg_color #e6e1e9;
