# Colores generados por Matugen
background = {{colors.background.default.hex}}
foreground = {{colors.on_surface.default.hex}}
selection-background = {{colors.primary.default.hex}}
selection-foreground = {{colors.on_primary.default.hex}}

# Paleta básica
palette = 0={{colors.surface.default.hex}}
palette = 1={{colors.error.default.hex}}
palette = 2={{colors.primary.default.hex}}
palette = 4={{colors.primary_container.default.hex}}

background-opacity = 0.85
background-blur-radius = 20
window-decoration = false
