@define-color background {{colors.surface.default.hex}};
@define-color foreground {{colors.on_surface.default.hex}};
@define-color noti-bg {{colors.surface_container.default.hex}};
@define-color noti-fg {{colors.on_surface.default.hex}};
@define-color noti-border {{colors.primary.default.hex}};
@define-color blue {{colors.primary.default.hex}};
@define-color red {{colors.error.default.hex}};
